<p *ngIf="!items"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="items">
    <thead>
        <tr>
            <th></th>
            <th>Nom</th>
            <th>Origine</th>
            <th>Interet</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let seedling of seedlings">
            <td><img class="nav-link" src="assets/icons/detail.png" [routerLink]="['/seedlingdetail/',seedling.id]" routerLinkActive="active"></td>
            <td>{{ seedling.name }}</td>
            <td>{{ seedling.origine }}</td>
            <td>{{ seedling.interet }}</td>
        </tr>
    </tbody>
</table>
<div class="card-footer pb-0 pt-3" *ngIf="items">
    <jw-pagination [items]="items" [pageSize]="10" [maxPages]="5" (changePage)="onChangePage($event)"></jw-pagination>
</div>