 <h1> {{ seedling.name}} </h1>
<p *ngIf="seedling.nomLatin"><strong>Nom latin : </strong>               {{ seedling.nomLatin}}</p>              
<p *ngIf="seedling.nomVernaculaire"><strong>Nom Vernaculaire : </strong>        {{ seedling.nomVernaculaire}}</p>        
<p *ngIf="seedling.interet"><strong>Interet : </strong>                {{ seedling.interet}}</p>                
<p *ngIf="seedling.hauteur"><strong>Hauteur : </strong>                {{ seedling.hauteur}}</p>                
<p *ngIf="seedling.periodeDeFloraison"><strong>Periode de floraison : </strong>     {{ seedling.periodeDeFloraison}}</p>     
<p *ngIf="seedling.feuilles"><strong>Feuilles : </strong>               {{ seedling.feuilles}}</p>               
<p *ngIf="seedling.type"><strong >Type : </strong>                   {{ seedling.type}}</p>                   
<p *ngIf="seedling.fleurs"><strong>Fleurs : </strong>                 {{ seedling.fleurs}}</p>                 
<p *ngIf="seedling.recommandations"><strong>Recommandations : </strong>        {{ seedling.recommandations}}</p>        
<p *ngIf="seedling.origine"><strong>Origine : </strong>                {{ seedling.origine}}</p>                
<p *ngIf="seedling.port"><strong>Port : </strong>                   {{ seedling.port}}</p>                   
<p *ngIf="seedling.empriseAuSol"><strong>EmpriseAuSol : </strong>           {{ seedling.empriseAuSol}}</p>           
<p *ngIf="seedling.lieuDeCulture"><strong>LieuDeCulture : </strong>          {{ seedling.lieuDeCulture}}</p>          
<p *ngIf="seedling.cycle"><strong>Cycle : </strong>                  {{ seedling.cycle}}</p>                  
<p *ngIf="seedling.temperatureMinimale"><strong>TemperatureMinimale : </strong>    {{ seedling.temperatureMinimale}}</p>    
<p *ngIf="seedling.autres"><strong>Autres : </strong>                 {{ seedling.autres}}</p>                 
<p *ngIf="seedling.fruits"><strong>Fruits : </strong>                 {{ seedling.fruits}}</p>                 
<p *ngIf="seedling.name"><strong>Name : </strong>                   {{ seedling.name}}</p>                   
<p *ngIf="seedling.arrosage"><strong>Arrosage : </strong>               {{ seedling.arrosage}}</p>               
<p *ngIf="seedling.maladiesRavageurs"><strong>Maladies / ravageurs : </strong>      {{ seedling.maladiesRavageurs}}</p>      
<p *ngIf="seedling.cultureAuJardin"><strong>Culture au jardin : </strong>        {{ seedling.cultureAuJardin}}</p>        
<p *ngIf="seedling.substrat"><strong>Substrat : </strong>               {{ seedling.substrat}}</p>               
<p *ngIf="seedling.exposition"><strong>Exposition : </strong>             {{ seedling.exposition}}</p>             
<p *ngIf="seedling.cultureEnPot"><strong>Culture en pot : </strong>           {{ seedling.cultureEnPot}}</p>           
<p *ngIf="seedling.proprietes"><strong>Proprietes : </strong>             {{ seedling.proprietes}}</p>             
<p *ngIf="seedling.facilite"><strong>Facilite : </strong>               {{ seedling.facilite}}</p>               
<p *ngIf="seedling.modeDeSemis"><strong>Mode de semis : </strong>            {{ seedling.modeDeSemis}}</p>            
<p *ngIf="seedling.dureeDeGermination"><strong>durée De germination : </strong>     {{ seedling.dureeDeGermination}}</p>     
<p *ngIf="seedling.techniquesDeSemis"><strong>Techniques de semis : </strong>      {{ seedling.techniquesDeSemis}}</p>      
<p *ngIf="seedling.conseil"><strong>Conseil : </strong>                {{ seedling.conseil}}</p>                
<p *ngIf="seedling.recolte"><strong>Recolte : </strong>                {{ seedling.recolte}}</p>                
<p *ngIf="seedling.conservation"><strong>Conservation : </strong>           {{ seedling.conservation}}</p>           
<p *ngIf="seedling.associationDefavorable"><strong>Association défavorable : </strong> {{ seedling.associationDefavorable}}</p> 
<p *ngIf="seedling.associationFavorable"><strong>Association favorable : </strong>   {{ seedling.associationFavorable}}</p>   
<p *ngIf="seedling.phytoepuration"><strong>Phytoepuration : </strong>         {{ seedling.phytoepuration}}</p>         